:root{
    --main_color:rgb(38, 0, 255) ;
    --acsent_color:rgb(32, 32, 32);
    --main_font_color: rgb(231, 213, 213);
    --navibar_heigth: 5% ;
    --content_bacrownd_color:rgba(21, 0, 255, 0);

    --content_widh:75%;
    scroll-behavior: smooth;

    --skil_progres_color: rgb(21, 153, 17);

    --nor_of_navibaar_element:4;
}



head{
    width: 100%;
}

body{
    margin: 0; 
    width: 100%;
    background-color: #293134;
    color: var(--main_font_color);
}

#bakround{
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url(./bacroundimg.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(7px); 
    z-index: -1;
}

p{
    width: var(--content_widh);
    height: 5%;
    font-size: 10px;
    word-break: break-all;
}


#navbar {
    overflow: hidden;
    height: var(--navibar_heigth);
    background-color: var(--acsent_color);
    text-align: center;
    box-shadow: 0 5px 5px rgba(56, 56, 56, 0.658);
    letter-spacing: 0.5px;
}

#navbar a {
    float: left;
    display: block;
    color: var(--main_font_color);
    text-align: center;
    width: calc(calc(100% - 3%) / var(--nor_of_navibaar_element));
    
    margin: calc( 2% / calc(var(--nor_of_navibaar_element) * 2));
    margin-top: 9px;
    padding: 0;
    text-decoration: none;
}

.homelink{
    border-style: outset;
    border-width: 2px;
    margin-top: 6px !important;
    background-color: rgba(255, 255, 255, 0.031);
}

.homelink:hover{
    background-color: rgba(0, 0, 0, 0.031);
}

.sticky {
    position: fixed;
    height: 0;
    top: 0;
    width: 100%;
}


.content_bloc * {
    margin: 0;
}

.jup_point{
height: 0;
z-index: -999;
position: relative;
top:-40px;
}

.content_bloc{
    height: calc(100% - var(--navibar_heigth));
    width: 100%;
   /* background-color: var(--content_bacrownd_color);*/
}

.content_bloc *{
    padding-left: calc(calc(100% - var(--content_widh)) / 2);
    padding-right: calc(calc(100% - var(--content_widh)) / 2);
    padding-top: 1%;
    text-align: center;
    font-size: 120%;

    
}

#profile{
    padding-left: 0;
    padding-right: 0;
    margin-left: calc(calc(100% - 100px) / 2);
    margin-right: calc(calc(100% - 100px) / 2); 
}

.links a{
    border-style: outset;
    color: var(--main_font_color);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.048);
    padding: 4px;
}

.links a:hover{
    border-style: inset;
    background-color: rgba(0, 0, 0, 0.048);
    padding: 4px;
}

.comon_content{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     
}

.comon_content_bloc{
    padding: 10px;
    width: 47%;
    border-style: inset;
    background-color: rgba(0, 0, 0, 0.048);
}

.about_content_bloks a{
    padding: 0;
    color: rgb(167, 144, 250);
}

#lable1 , #lable2 , #lable3{
    text-align: center;
    border-style: dashed;
    border-color: #698858;
    margin-left: 1%;
    margin-right: 1%;
    letter-spacing: 1px;
}

.skils_content_bloc{
    font-size: 120%;
}

#text_type_efect1{
    padding-right: calc(100% - var(--content_widh));
    padding-left: calc(calc(100% - var(--content_widh)) / 3);
    width:360px;
    display: inline-block;
    padding-top: 0;
    text-align: left;
}


